<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  /> 
  <link rel="stylesheet" href="/style.css">
  <title>Task Manager</title>
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
    </div>    
    <div class="todo-part">
        <form action="/" method="POST" class="todo-head">
            <input type="text" name="task" class="add" placeholder="Add new task ..." required/>
            <button type="submit" class="main"><span class="fas fa-plus"></span></button>
        </form>
        <ul class="todo-list">
            <%if(Todo.length > 0 ){
                Todo.forEach(function(data){%>
           <li class="list-item">
               <%let checked = data.done ? "checked" : "" %>
                    <form action="/check/<%=data._id%>" method="POST">
                <input type="checkbox" name="todo1" onChange="this.form.submit()" <%= checked %> />
                </form>
                    <span class="data"><%=data.task%></span>
                    <button class="edit"><span class="fas fa-edit"></span></button>
                    <form action="/del/<%=data._id%>" method="GET"> 
                        <button class="del"><span class="fas fa-trash"></span></button>
                    </form>
                    
            </li>
            <% })} %> 
        </ul>
    </div>
</body>
</html>